<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feri.car.car.dao.CarDetailMapper">

  <insert id="insert" parameterType="com.feri.car.car.entity.CarDetail">
    insert into cardetail (cid, cc, gear,oil, speed, ctime)
    values (#{cid,jdbcType=INTEGER}, #{cc,jdbcType=REAL}, #{gear,jdbcType=VARCHAR},
      #{oil,jdbcType=VARCHAR}, #{speed,jdbcType=REAL}, now())
  </insert>
</mapper>