<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feri.car.car.dao.CarMediaMapper">
  <insert id="insert" parameterType="com.feri.car.car.entity.CarMedia">
    insert into car_media (oid, cid, type, flag, ctime )
    values (#{oid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER},
      #{type,jdbcType=INTEGER}, #{flag,jdbcType=INTEGER}, now())
  </insert>

</mapper>